.navbar {
 background-color: orange;
}

.quemsomos {
background-color: aquamarine;
}
 .margin {
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .quemsomos1 {
    background-color: whitesmoke;
    }
.quemsomos2 {
        background-color: rgb(148, 216, 193);
        }
